// BREAKPOINTS:
$mobile-breakpoint: 550px;
$narrow-breakpoint: 790px;
$normal-breakpoint: 960px;

// COLORS

$bgcColor: #f9f7f6;
$fontColor: #193159;

$clr1: #845ef6;
$clr2: #68e3b3;
$clr3: #66d6f5;
$clr4: #eb5a46;
$clr5: #c377e0;
$clr6: #5ba4cf;
$clr7: #51e898;
$clr8: #2acce5;
$clr9: #ff8ed4;
$clr10: #172b4d;
$clr11: #b3bac5;
